<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body dir="rtl" class="bg-white">
      
    <header dir="ltr" class="navbar bg-[#022333] p-4 shadow-md w-full z-60 relative" x-data="{ open: false }">
        <div data-aos="fade-up" class="container mx-auto flex justify-between items-center">
            <a href="#" class="max-w-[40px] md:max-w-[60px]"><img src="/eco-friendly.png" alt=""></a>
          
            
              <!-- مربع البحث (في النص) -->
              <div class="relative w-[300px] mx-auto">
                <i class="fa fa-search absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-500 rotate-[-270deg]"></i>
                <input
                  type="text"
                  class="border-2 h-9 bg-white rounded-full pl-4 pr-10 text-right
                         focus:ring-2 focus:ring-[#499DCA] placeholder:text-[14px] focus:outline-none w-full transition-all duration-300 font-medium font-cairo"
                  placeholder="بتدور على ايه؟">
              </div>
            
              <div class="relative flex items-center space-x-3">
                <div class="flex items-center space-x-2 mr-14 ">
                    <img src="/R.jpeg" alt="Country" class="w-6 h-6 rounded-full object-cover">
                  </div>
                   <button 
                   
                    class="  text-[14px]  font-bold text-white -mr-4 
                           font-cairo transition duration-300 ease-in-out 
                           hover:shadow-[0px_0px_20px_#162229] hover:scale-110 flex items-center justify-center">
                           {{userName ||'Admin' }}
                           <img [src]="userPhoto" alt="User" class="w-6 h-6 ml-4 rounded-full object-cover">

                  </button>
              </div>
         
   
        </div>

    </header>
<div class="flex min-h-screen">
  <nav dir="rtl" class="bg-[#022333] md:flex flex-col w-56 min-h-screen text-white"> 
    <a routerLink="/home"
    routerLinkActive="bg-white text-black" class="w-full border-t-1 border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20">
        <img src="/image 118.png" alt="User" class="w-5 h-5 object-cover">

        <span class="font-cairo font-bold">الصفحة الرئيسية</span>
  </a>

    
      <a 
      routerLink="/dashboard-product"
      routerLinkActive="bg-white text-black"
      [routerLinkActiveOptions]="{ exact: true }"
      class="w-full border-t border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20 relative">
      <img src="/image 119.png" alt="User" class="w-5 h-5 absolute right-8 object-cover">
      <span class="font-bold">المنتجات</span>
    </a>
    
      <a routerLink="/dashboard-order"
      routerLinkActive="bg-white text-black" class="w-full border-t-1 border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20">
        <img src="/image 86.png" alt="User" class="w-5 h-5 absolute right-10  object-cover">
        <span class="font-bold">الطلبات</span>
  </a>
      <a routerLink="/dashboard-clients"
      routerLinkActive="bg-white text-black" class="w-full border-t-1 border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20">
        <img src="/image 117.png" alt="User" class="w-5 h-5 absolute right-10   object-cover">
        <span class="font-bold">العملاء</span>
</a>
      <a routerLink="/dashboard-company"
      routerLinkActive="bg-white text-black" class="w-full border-t-1 border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20">
        <img src="/image 88.png" alt="User" class="w-5 h-5 absolute right-10  object-cover">
        <span class="font-bold">الشركات</span>
</a>
<a routerLink="/dashboard-support"
routerLinkActive="bg-white text-black" class="w-full border-t-1 border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20">
  <img src="/image 153.png" alt="User" class="w-5 h-5 absolute right-10  object-cover">
  <span class="font-bold">الاستشارات</span>
</a>
      <a routerLink="/dashboard-settings"
      routerLinkActive="bg-white text-black" class="w-full border-t-1 border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20">
        <img src="/image 120.png" alt="User" class="w-5 h-5 absolute right-10  object-cover">
        <span class="font-bold">الإعدادات</span>
</a>
   
    
      <!-- تسجيل الخروج -->
      <a class="mt-auto w-full border-t-1 border-white px-4 py-3 hover:bg-white hover:text-black cursor-pointer flex items-center justify-center gap-3 h-20">
        <i class="fa-solid fa-right-from-bracket w-5 h-5 absolute right-10  object-cover"></i>        <span class="font-bold">تسجيل خروج</span>
      </a>
    </nav>
    
    <section dir="ltr" class="flex flex-col w-full">
      <div class="px-4 w-full flex justify-between items-center py-4">
        <!-- الشعار -->
        <div class="">
          <span class="txt bg-[#001F2D] text-[35px] text-white font-bold px-3 ">Eco Power Hub</span>
          <div class="w-40 border-t-4  bg-[#001F2D] my-4"></div>
      
        </div>
    
        <div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-icon shake">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#051C2F" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
      </svg>
    </div>
    <p>{{ modalMessage }}</p>
    <button class="modal-btn" (click)="closeModal()">حسنًا</button>
  </div>
</div>
        <!-- العنوان + صورة -->
        <div class="flex flex-col items-end">
          <div class="flex items-center gap-2 ">
            <span class="mt-5 mr-4 cursor-pointer">
              <img src="image 146.png" alt="" class="w-15 h-15 pb-1" />
            </span>
            <span class="txt font-bold text-black  tracking-tight  text-[40px] px-3">الشركات</span>
        
        
          </div>
          <div class="w-40 border-t-4 border-[#001F2D] mt-1">
          </div>
        </div>
          </div>
        
    
<div class="flex flex-row w-full gap-6 px-4">
  <!-- النموذج الثاني لحذف المنتج -->
   
   <div dir="rtl" class="p-4 flex flex-col ml-auto gap-6 w-1/2">
 <form  #deleteProductForm="ngForm" (ngSubmit)="deleteCompany()" class="bg-[#022333] w-full md:w-1/2 rounded-[25px] px-6 py-6 shadow-lg text-white">
    <div class="bg-white w-1/2 flex items-center justify-between p-2 rounded-[25px] mb-6">
      <span class="font-extrabold text-2xl text-black"> حذف الشركات</span>
      <img src="/image 127.png" alt="User" class="w-6 h-6" />
    </div>
    <div class="flex flex-col gap-4 mb-4">
    
      <div class="w-full">
        <label class="block mb-2 text-lg">اسم الشركة</label>
        <input lang="ar" dir="rtl"  name="companyNameToDelete" [(ngModel)]="companyNameToDelete" type="text" class="bg-white w-full text-black p-2 border border-gray-300 rounded-[25px]" placeholder=" ادخل اسم الشركة التي تريد حذفها " required />
      </div>
      <div class="w-full">
        <label class="block mb-2 text-lg">رقم الشركة (ID)</label>
        <input lang="ar" dir="rtl" name="companyIdToDelete" [(ngModel)]="companyIdToDelete" type="text" class="bg-white w-full p-2 border text-black border-gray-300 rounded-[25px]" placeholder=" ادخل الرقم الخاص بالمنتج " required />
      </div>
    </div>
    <div class="flex justify-center mt-4">
      <button type="submit" class="w-[100%]  sm:w-1/3 p-2 rounded-[25px] bg-white text-black hover:bg-[#022333] hover:text-white hover:shadow-[0px_0px_20px_#162229] hover:scale-110 font-cairo">تأكيد</button>
    </div>
  </form>
  </div> 
  

 

  <!-- اضافة شركة -->
  <div dir="rtl" class="p-4 flex flex-col ml-auto gap-6 w-1/2">
  <form  #addCompanyForm="ngForm"(ngSubmit)="addCompany()"  class="bg-[#022333] w-full md:w-1/2 rounded-[25px] px-6 py-6 shadow-lg text-white">
    <div class="bg-white w-1/2 flex items-center justify-between p-2 rounded-[25px] mb-6">
      <span class="font-extrabold text-2xl text-black"> اضافة الشركات</span>
      <img src="/plus.png" alt="User" class="w-6 h-6" />
    </div>
    <div class="flex flex-col gap-4 mb-4">
    
      <div class="w-full">
        <label class="block mb-2 text-lg">اسم الشركة</label>
        <input lang="ar" dir="rtl"  name="companyNameToDelete" [(ngModel)]="companyNameToDelete" type="text" class="bg-white w-full text-black p-2 border border-gray-300 rounded-[25px]" placeholder=" ادخل اسم الشركة التي تريد اضافتها " required />
      </div>
      <div class="w-full">
       <label class="block mb-2 text-lg">إيميل الشركة</label>
  <input
    lang="ar"
    dir="rtl"
    name="companyEmail"
    [(ngModel)]="companyEmail"
    type="email"
    class="bg-white w-full text-black p-2 border border-gray-300 rounded-[25px]"
    placeholder="ادخل بريد الشركة الإلكتروني"
    required
  />
      </div>
      <div class="w-full">
  <label class="block mb-2 text-lg">عنوان الشركة</label>
  <input
    lang="ar"
    dir="rtl"
    name="companyAddress"
    [(ngModel)]="companyAddress"
    type="text"
    class="bg-white w-full text-black p-2 border border-gray-300 rounded-[25px]"
    placeholder="ادخل عنوان الشركة"
    required
  />
</div>

<div class="w-full">
  <label class="block mb-2 text-lg">رقم الهاتف</label>
  <input
    lang="ar"
    dir="rtl"
    name="companyPhone"
    [(ngModel)]="companyPhone"
    type="tel"
    class="bg-white w-full text-black p-2 border border-gray-300 rounded-[25px]"
    placeholder="ادخل رقم الهاتف"
    required
  />
</div>
<div class="w-full flex items-end gap-4 mt-4">
  <!-- اختيار الصورة -->
  <div class="w-1/2">
  <label class="block mb-2 text-lg">صورة الشركة</label>

  <!-- الزر المخصص لاختيار الصورة -->
  <label
    for="companyImage"
    class="cursor-pointer bg-white text-black px-4 py-2 rounded-[25px] border border-gray-300 inline-block text-center w-full"
  >
    اختر صورة الشركة
  </label>

  <!-- input file مخفي -->
  <input
    id="companyImage"
    type="file"
    (change)="onFileSelected($event)"
    accept="image/*"
    class="hidden"
  />
</div>

  <!-- زر التأكيد -->
  <div class="w-1/2">
    <label class="block mb-2 text-lg invisible">زر</label> <!-- للتوازن في الارتفاع -->
    <button type="submit" class="w-full p-2 rounded-[25px] bg-white text-black hover:bg-[#022333] hover:text-white hover:shadow-[0px_0px_20px_#162229] hover:scale-110 font-cairo">
      تأكيد
    </button>
  </div>
</div>
</div>
</form>
</div>

</div>

<div dir="rtl" class="bg-[#022333] w-52 p-2 rounded-[25px] ml-auto mr-8 -mb-6">
    <span class="font-extrabold text-2xl text-center text-white block w-full">جميع الشركات</span>
  </div>
  <div class="p-4 overflow-x-auto mt-6 flex flex-col md:flex-row gap-6 w-full">
  <table class="w-full border border-gray-300 text-center">
    <thead class="bg-[#022333] text-white">
      <tr>
        <th class="px-4 py-2">رقم الهاتف</th>
        <th class="px-4 py-2">العنوان</th>
        <th class="px-4 py-2">رمز الشركة</th>
        <th class="px-4 py-2">رقم الشركة ID</th>
        <th class="px-4 py-2">اسم الشركة</th>

      </tr>
    </thead>
    <tbody class="text-sm bg-white text-black font-bold">
      <tr *ngFor="let company of companies" class="border-b h-16">
        <td class="px-4 py-2">{{ company.phoneNumber }}</td>
        <td class="px-4 py-2">{{ company.location }}</td>
       
        <td class="px-4 py-2 ">
  <img [src]="company.image" alt="{{ company.name }}" class="w-10 h-10 object-cover rounded text-center justify-center items-center ml-10" />
</td>
<td class="px-4 py-2">
        {{ company.products.length > 0 ? company.products[0].companyId : 'لا يوجد' }}
      </td>
        <td class="px-4 py-2">{{ company.name }}</td>

      </tr>
    </tbody>
  </table>
</div>

        
     
       </section>
    
  
</div>
</body>
</html>
