
<!-- <!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

</head> -->
<app-header></app-header>
<body class="bg-white">

<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-icon shake">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#051C2F" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
      </svg>
    </div>
    <p>{{ modalMessage }}</p>
    <button class="modal-btn" (click)="closeModal()">حسنًا</button>
  </div>
</div>

  <section class=" p-2 flex justify-between items-center">
    <div class="ml-4  mt-4">
      <span class="txt bg-[#001F2D] text-[35px] text-white font-bold px-3 ">Eco Power Hub</span>
      <div class="w-40 border-t-4  bg-[#001F2D] my-4"></div>
  
    </div>
    <div>
    <div class="flex items-center gap-2 mr-4 ">
      <span class="mt-5 mr-4 cursor-pointer">
        <img src="image 163.png" alt="" class="w-15 h-15 pb-1" />
      </span>
      <span class="txt font-bold text-black  tracking-tight  text-[40px] px-3">   دعمكم هو أولويتنا  </span>
      
  
  
    </div>
    <div class="w-80 border-t-4  bg-[#001F2D]  ml-25 mt-[1px]"></div>
  
  </div></section>
  <section lang="ar" dir="rtl"
  class="bg-white p-6 md:p-10 text-[#022333] rounded-lg shadow-md  border-2 border-[#022333] 
         w-[98%] mx-auto text-center ">    <div class="text-center space-y-4 text-[24px] font-bold leading-loose">
      <p>مرحبًا بك في صفحة الدعم الفني!</p>
      <p>
        يقدّم لك مهندسونا المتخصصون دعمًا سريعًا ومباشرًا لحل جميع استفساراتك ومشاكلك في أنظمة
        الطاقة الشمسية، عبر مكالمة هاتفية مع فريق ذو خبرة واسعة.
      </p>
      <p>
        سواء كنت بحاجة لمساعدة فنية، أو استشارة قبل الشراء أو أثناء التركيب – نحن هنا لنضمن لك راحة البال وكفاءة النظام.
      </p>
      <p class=" ">
        تواصل معنا، وخليّ طاقتك دايمًا شغّالة ⚡
      </p>
    </div>
  </section>

  <div class="container mx-auto flex flex-col lg:flex-row-reverse justify-between text-end p-6 gap-8">
  
      
    
    <div lang="ar" dir="rtl" class="w-full lg:w-1/2 items-center justify-end text-right">
        
 
                  
                

                <div class="aa grid  mb-20 gap-20 mt-6 ">
                    
                    <div class="flex flex-col space-y-10 text-black  ">
                        <a data-aos="fade-up" href="#" class="flex items-center gap-4 text-lg hover:text-[#499DCA] font-semibold">
                            <div class="flex items-center justify-center w-10 h-10 -mr-1 rounded-full border-2 bg-black text-2xl shrink-0">
                                <i class="fa-solid fa-envelope  text-white "></i></div> username&#64;domainname.com
                        </a>
                        <a data-aos="fade-up" href="https://www.facebook.com/profile.php?id=61577191190917" class="flex items-center gap-4 text-lg hover:text-[#499DCA] font-semibold">
                            <div class="flex items-center justify-center w-10 h-10 -mr-1 rounded-full border-2 bg-black text-2xl shrink-0">
                                <i class="fa-brands fa-facebook-f  text-white "></i></div> Eco PowerHub Company
                        </a>
                        <a  data-aos="fade-up" href="#" class="flex items-center gap-4 text-lg hover:text-[#499DCA] font-semibold">
                            <div class="flex items-center justify-center w-10 h-10 -mr-1 rounded-full border-2 bg-black text-2xl shrink-0">
                                <i class="fa-solid fa-phone text-white"></i></div> 25146268 - 245217562
                        </a>
                        <a  data-aos="fade-up"   href="https://www.instagram.com/ecopowerhub3/" class="flex items-center gap-4 text-lg hover:text-[#499DCA] font-semibold">
                            <div class="flex items-center justify-center w-10 h-10 -mr-1 rounded-full border-2 bg-black text-2xl shrink-0">
                                <i class="fa-brands fa-instagram text-white"></i>
                            </div>
                            EcoPowerHub&#64;instagram.com
                          </a>
                          <a  data-aos="fade-up" href="https://twitter.com/hub_eco64337" class="flex items-center gap-4 text-lg hover:text-[#499DCA] font-semibold">
                            <div class="flex items-center justify-center w-10 h-10 -mr-1 rounded-full border-2 bg-black text-2xl shrink-0">
                                <i class="fa-brands fa-twitter text-white"></i></div> ecopowerhub&#64;twitter.com
                        </a>
                        <a  data-aos="fade-up" href="#" class="flex items-center gap-4 text-lg hover:text-[#499DCA] font-semibold">
                            <div class="flex items-center justify-center w-12 h-12 -mr-1  text-4xl shrink-0">
                            <i class="fa-solid fa-location-dot text-black"></i> </div>كيف تجدنا !
                        </a>
   
                </div>
            </div>
            
        <img  data-aos="fade-left" src="/image 114.png" class=" w-xl rounded-lg shadow-md  -mt-32 sm:mr-16 " alt="اتصل بنا">

    </div>

    
    <div data-aos="fade-up" class="block items-center  md:w-1/2 lg:w-2/5 bg-white text-white rounded-3xl px-6 py-6 pr-10  sm:-mt-[760px] ">
        <form [formGroup]="supportForm" (ngSubmit)="onSubmit()" class="bg-[#022333]  rounded-[25px] w-full px-6 py-6 pr-10 shadow-lg">
            <div class="mb-4">
                <label  for="userName" class="block mb-2 mr-4 text-lg ">الاسم</label>
                <input  id="userName"  formControlName="userName" lang="ar" dir="rtl" type="text" 
                class="bg-white w-full p-4 border border-gray-300 rounded-[25px]
                       focus:outline-none focus:ring-2 focus:ring-blue-400 
                       text-slate-700 placeholder:font-medium placeholder:text-gray-500 text-right" 
                placeholder="الاسم بالكامل">
             <div *ngIf="supportForm.get('userName')?.invalid && supportForm.get('userName')?.touched" class="text-red-500 text-xs mt-1 mr-3">الاسم مطلوب.</div>

            </div>
            <div class="mb-4">
                <label  for="email" class="block mb-2  mr-4  text-lg">البريد الإلكتروني</label>
                <input id="email"  formControlName="email" lang="ar" dir="rtl" type="email" class=" bg-white w-full p-4 border border-gray-300 rounded-[25px] 
                focus:outline-none focus:ring-2 focus:ring-blue-400 
                text-slate-700 placeholder:text-gray-500 text-right " placeholder=" user@example.com">
                
          <div *ngIf="supportForm.get('email')?.invalid && supportForm.get('email')?.touched" class="text-red-500 text-xs mt-1 mr-3">
            <span *ngIf="supportForm.get('email')?.errors?.['required']">البريد الإلكتروني مطلوب.</span>
            <span *ngIf="supportForm.get('email')?.errors?.['email']">يرجى إدخال بريد إلكتروني صالح.</span>
            <span *ngIf="supportForm.get('email')?.errors?.['invalidEmailFormat']">البريد الإلكتروني يحتوي على أحرف أو رموز غير مسموح بها.</span>
          </div>
              </div>
            <div class="mb-4">
                <label for="phoneNumber" class="block mb-2  mr-4  text-lg ">رقم الهاتف</label>
                <input id="phoneNumber" formControlName="phoneNumber"  lang="ar" dir="rtl" type="tel" class="bg-white w-full p-4 border border-gray-300 rounded-[25px]
                focus:outline-none focus:ring-2 focus:ring-blue-400 
                text-slate-700 placeholder:text-gray-500 text-right "  placeholder="ادخل رقم هاتفك">
            <div *ngIf="supportForm.get('phoneNumber')?.invalid && supportForm.get('phoneNumber')?.touched" class="text-red-500 text-xs mt-1 mr-3">
            <span *ngIf="supportForm.get('phoneNumber')?.errors?.['required']">رقم الهاتف مطلوب.</span>
            <span *ngIf="supportForm.get('phoneNumber')?.errors?.['pattern']">يرجى إدخال رقم هاتف صحيح (مثال: 01xxxxxxxxx).</span>
            <span *ngIf="supportForm.get('phoneNumber')?.errors?.['invalidPhoneFormat']">رقم الهاتف يحتوي على أحرف أو رموز غير مسموح بها.</span>
          </div>
              </div>
            <div class="mb-4">
                <label for="subject" class="block mb-2  mr-4  text-lg ">رسالتك</label>
                <textarea id="subject" formControlName="subject" lang="ar" dir="rtl" class="bg-white w-full p-4 border border-gray-300 rounded-[25px] 
                focus:outline-none focus:ring-2 focus:ring-blue-400 
                text-slate-700 placeholder:text-gray-500 text-right " rows="4" placeholder=" يمكنك اخبارنا بسؤالك فيما يتعلق بمشاكل واجهتك أثناء عملية تخصيص الحزمة الشمسية لك. "></textarea>
            <div *ngIf="supportForm.get('subject')?.invalid && supportForm.get('subject')?.touched" class="text-red-500 text-xs mt-1 mr-3">
            <span *ngIf="supportForm.get('subject')?.errors?.['required']">الرسالة مطلوبة.</span>
          </div>
              </div>
 <div class="flex justify-center mt-4 ">
            <button type="submit" class="w-[100%] sm:w-1/3  p-2 flex items-center justify-center rounded-[25px] bg-[#022333] font-black text-lg text-white font-cairo transition duration-300 ease-in-out hover:bg-white hover:text-black hover:shadow-[0px_0px_20px_#162229] hover:scale-110" [disabled]="isLoading">
<span *ngIf="!isLoading">ارسال</span>
  <div *ngIf="isLoading" class="animate-spin h-5 w-5 border-2 border-t-transparent border-[#022333] rounded-full"></div>            </button>
        </div>
        </form>
   

    </div>
</div>

</body>
<app-footer></app-footer>
<!-- </html> -->