<div class="flex flex-col gap-6 p-4">
  <div *ngFor="let pkg of packages" class="bg-white shadow-lg p-6 border-[3px] border-black">
    <!-- عنوان الباقة -->
    <h2 class="text-2xl font-bold text-white bg-[#022333] px-6 py-3 mb-4 w-fit ml-auto">
      {{ pkg.packageName }}
    </h2>

    <div class="flex flex-col md:flex-row gap-16 items-start mb-6">
      <!-- صورة الباقة -->
      <img src="/package.png" alt="package" class="w-full md:w-1/3 max-w-xs">

      <!-- مكونات الحزمة -->
      <ul class="text-black text-2xl leading-relaxed space-y-2 text-right">
        <li>الألواح الشمسية: {{ pkg.panelModel }}</li>
        <li>عدد الألواح الشمسية: {{ pkg.requiredPanels }}</li>
        <li>العاكس: {{ pkg.inverterModel }}</li>
        <li>البطارية: بطارية ليثيوم أيون ٥ كيلو وات/ساعة</li>
        <li>عدد البطاريات: {{ pkg.requiredBatteries }}</li>
        <li>نظام التركيب: نظام مثبت على السطح</li>
        <li>وحدة التحكم في الشحن: وحدة تحكم MPPT ٣٠ أمبير</li>
        <li>الكابلات والموصلات: كابل تيار مستمر بطول ٢٠ مترًا مع موصلات MC4</li>
        <li>نظام المراقبة: تطبيق مراقبة الطاقة الأساسي</li>
      </ul>
    </div>

    <!-- تفاصيل الأسعار -->
    <div class="bg-[#022333] text-white text-[35px] pb-7 p-5 mb-4">
      <p class="text-right leading-relaxed font-medium pb-7">
        إليك تفاصيل هذه الحزمة حيث بإمكانك معرفة فترة استرداد التكلفة لمبلغ
        سعر الحزمة وكذلك المبالغ التي تستطيع أن توفرها
      </p>
      
      <!-- البوكسات الأربعة -->
      <div class="grid grid-cols-2 gap-20 text-center text-2xl font-bold text-[#022333] pb-4">
        <div class="bg-white border border-gray-300 p-3 ml-15 shadow-sm">
          فترة استرداد التكلفة<br>
          <span class="text-2xl font-bold">{{ pkg.roiYears | number:'1.1-1' }} سنوات</span>
        </div>
        <div class="bg-white border border-gray-300 p-3 mr-15 shadow-sm">
          سعر الحزمة كاملة<br>
          <span class="text-2xl font-bold">{{ pkg.packagePrice | number }} L.E</span>
        </div>
        <div class="bg-white border border-gray-300 p-3 ml-15 shadow-sm">
          مبلغ التوفير خلال {{ pkg.totalYearsGuarantee }} عام<br>
          <span class="text-2xl font-bold">{{ pkg.savingCost | number }} L.E</span>
        </div>
      <div class="bg-white border border-gray-300 p-3 mr-15 shadow-sm">
        المبلغ السنوي<br>
        <span class="text-2xl font-bold">{{ pkg.pricePerYear | number }} L.E</span>
      </div>
    </div>

  </div>
    <!-- زر الطلب -->
    <div class="text-center mt-6">
      <button class="px-3 py-3 mr-8 rounded-full bg-[#022333] text-white transition duration-300 ease-in-out hover:bg-[#499DCA] hover:shadow-[0px_0px_20px_#162229] hover:scale-105">
        اطلبها الآن
      </button>
    </div>
  </div>
</div>
