body {
  background-color: #396991;
  margin: 0;
  font-family: "Cairo", serif;
  position: relative;
overflow: hidden;

  caret-color: transparent;
}
.welcome{
  font-family: "Cairo", serif;
  

}
@media (max-width: 639px) {
 body{
    overflow: auto; /* يفتح السكرول في الشاشات الصغيرة فقط */
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/solarpanel.jpg') no-repeat center center/cover;
  filter: blur(5px); /* طبق البلير هنا فقط */
  z-index: -2; /* ضع الخلفية في الخلف */
}
.labl{
  margin-left: 20px;
}



.home-link {
      font-family: "Cairo", sans-serif;
      cursor: pointer;
      text-decoration: none;
      color: white;
      background-color: transparent;
      border: none; /* Removes any border if present */
  box-shadow: none; 
  font-size: 20px;
      transition: all 0.3s ease;
      padding: 15px 20px;
    }
    .home-link:hover {
      color: #499DCA;
      background: transparent;
    }
.direction-ltr {
  direction: ltr;
  text-align: left;
}

  .signup-container {
   margin-top: 34px;
   text-align: center; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);


   font-family: "Cairo", serif;
  }
  h2{
    font-size:26px;
    font-family: "Cairo", serif;
  

    color: #051C2F;
  }

  input[type="checkbox"] {
    width: 17px;  /* زيادة العرض */
    height: 17px; /* زيادة الطول */
    cursor: pointer;
  font-family:"calibri" ,serif ;
    transform: scale(1.25); /* تكبير الحجم */
    margin-right: 5px;
  }
   .checkbox input{
   margin-left: 30px;
  margin-right: 10px;
  justify-content: space-between;
  padding: 20px;
  }
  
  
  
  .checkboxdiv{
  font-size: 22px;
  color: #051C2F;
  justify-content: space-between;
  font-family: "Cairo", serif;
  margin-top: 0px;
  
  }

 
  


  button {
   
   
    background: #051C2F;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: "Cairo", serif;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -40px;
    transition: background 0.3s ease;
  }
  
  .button:hover{
    background-color: #499DCA;
     transform: scale(1.05); 
 }
 
 .button:focus{
     outline: none;
     box-shadow: 0 0 5px #499DCA;
 }
 
  .login-link {
    margin-top: 5px;
    font-size: 17px;
  
    font-family: "Cairo", serif;
  }
  
  .login-link a {
    color: #003366;
    text-decoration: none;
    font-size: 18px;
  
  }
  
  
  
  
  
  button:hover {
    background: #033b5b;
  }
  
  button:disabled {
    background: #8c8d97;
  }
  
  
  
  .login-link a {
    color: #045988;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
    color: #045988;
  
  }
  

  .error {
    color: rgb(243, 36, 36);

  }
  .role{
    margin-top: -20px;
    margin-left: 320px;
  }
  .row2{
    margin-top: -9px;
  }