<nav class="bg-[#051C2F] text-white px-6 py-4 flex justify-between items-center relative">
  <!-- رابط الصفحة الرئيسية -->
  <a href="" class=" homeLink text-lg font-semibold whitespace-nowrap ">
    الصفحة الرئيسية
  </a>
  
  <!-- العنوان في المنتصف -->
  <span class="absolute inset-x-0 sm:text-center text-lg sm:text-xl font-semibold  text-right">
    Welcome to Eco PowerHub

  </span>
</nav>


<div class="signup-container bg-white  rounded-xl shadow-3xl sm:max-w-lg  shadow-4xl  mx-auto flex flex-col justify-center items-center min-h-[340px] sm:min-h-[500px]">
  <div class="signup-card   ">
    <h2 class="text-center text-2xl font-semibold mb-5">إنشاء حساب</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-4">
   
      

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-[15px]">
        <div>
          <label for="lastName" class="block text-right mb-1 ">الاسم الأخير</label>
          <input id="lastName" class=" w-[130px] sm:w-[230px] p-2 rounded-2xl text-right bg-[#F5F5F5]" formControlName="lastName" type="text" placeholder="ادخل الاسم الأخير" />
        </div>
        <div>
          <label for="firstName" class="block text-right mb-1" >الاسم الأول</label>
          <input id="firstName" class="w-[230px] p-2 rounded-2xl text-right bg-[#F5F5F5]" formControlName="firstName" type="text" placeholder="ادخل الاسم الأول" />
          <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-red-500 text-sm">
            الاسم الأول مطلوب.
          </div>
        </div>
      </div>

      <!-- الهاتف والبريد الإلكتروني -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <label for="phone" class="block text-right mb-1">رقم الهاتف</label>
          <input id="phone" class="w-[230px]  p-2 rounded-2xl text-right bg-[#F5F5F5]" formControlName="phone" type="tel" placeholder="ادخل رقم الهاتف" />
          <div *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched" class="text-red-500 text-sm">
            <span *ngIf="signupForm.get('phone')?.errors?.['required']">رقم الهاتف مطلوب</span>
            <span *ngIf="signupForm.get('phone')?.errors?.['pattern']">ادخل رقم هاتف صحيح</span>
          </div>
        </div>
        <div>
          <label for="email" class="block text-right mb-1">البريد الإلكتروني</label>
          <input id="email" class="w-[230px]  p-2 rounded-2xl text-right bg-[#F5F5F5]" formControlName="email" type="email" placeholder="example@gmail.com" />
        </div>
      </div>

      <!-- كلمة المرور وتأكيدها -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <label for="password" class="block text-right mb-1">كلمة المرور</label>
          <input id="password" class="w-[230px]  p-2 rounded-2xl text-right bg-[#F5F5F5]" formControlName="password" type="password" placeholder="@/#%*" />
          <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-red-500 text-sm">
            <span *ngIf="signupForm.get('password')?.errors?.['required']">كلمة المرور مطلوبة.</span>
            <span *ngIf="signupForm.get('password')?.errors?.['minlength']">يجب أن تكون 8 أحرف على الأقل.</span>
            <span *ngIf="signupForm.get('password')?.errors?.['pattern']">يجب أن تحتوي على رقم وحرف كبير ورمز خاص.</span>
          </div>
        </div>
        <div>
          <label for="confirmPassword" class="block text-right mb-1" >تأكيد كلمة المرور</label>
          <input id="confirmPassword" class="w-[230px]  p-2 rounded-2xl text-right bg-[#F5F5F5]" formControlName="confirmPassword" type="password" placeholder="@/#%*" />
          <div *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
            تأكيد كلمة المرور لا يطابق كلمة المرور.
          </div>
        </div>
      </div>

      <!-- العنوان -->
      <div>
        <label for="address" class="block text-right mb-1">العنوان</label>
        <textarea id="address" class="w-full  pt-2 rounded-2xl text-right bg-[#F5F5F5]  " formControlName="address" placeholder="ادخل عنوانك بالتفصيل"></textarea>
      </div>
   <!-- اختيار الدور -->
      <div class="flex justify-center gap-4 ml-80 mt-[-5]">
        <label class="flex items-center space-x-2">
          <input type="radio" formControlName="role" [value]="2" class="accent-blue-500 rounded-2xl"> 
          <span>عميل</span>
        </label>
        <label class="flex items-center space-x-2">
          <input type="radio" formControlName="role" [value]="3" class="accent-blue-500"> 
          <span>شركة</span>
        </label> 
      </div>
      <!-- زر التسجيل -->
      <button type="submit" [disabled]="signupForm.invalid" class="w-[200px] bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 transition mt-[-19px]">
        إنشاء حساب
      </button>
    </form>
    <!-- رابط تسجيل الدخول -->
    <p class="text-center  w-sm  ml-10 pb-2">لديك حساب بالفعل؟ <a href="/forgetpassword" class="text-[#045988] hover-underline">تسجيل الدخول</a></p>
  </div>
</div>
