<app-header></app-header>

<!-- Hero Section with Image and Text Overlay -->
<div class="part1 min-h-[600px] w-full flex flex-col items-center p-0 md:p-10 relative rtl bg-cover bg-center bg-fixed bg-no-repeat overflow-hidden bg-white">
    <img 
      src="/homeTwo.png" 
      alt="Solar panels on building roof" 
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="bg-gray-950/60 text-white py-5 px-20 -mt-85 rounded-4xl backdrop-blur-none shadow-2xl">
        <h1 class="text-4xl font-bold text-right">!اختار محطتك الشمسية وأنت متطمن</h1>
      </div>
    </div>
  </div>
  
  <!-- Tips Section -->
  <div class="px-9 text-center bg-white pb-10">
    <div class="flex items-center justify-center gap-2 pt-2">
      <h3 class="text-4xl font-bold">! نصايح ليك قبل إدخال بياناتك</h3>
      <img src="/lamp.png" alt="lamp" class="max-w-[8%]">
    </div>
  
    <!-- Checklist Items -->
    <div class="bg-[#022333] text-white p-6">
      <div class="space-y-4 text-right">
        <!-- Tip 1 -->
        <div class="flex items-center justify-end gap-6">
          <p class="flex-1 text-xl">.تعرف على نوع الممتلكات الخاصة بك وقدر المساحة المتاحة على السطح لتركيب المحطة الشمسية</p>
          <img src="/rightCheck.png" alt="check" class="max-w-[3%]">
        </div>
  
        <!-- Tip 2 -->
        <div class="flex items-center justify-end gap-6 mt-10">
          <p class="flex-1 text-xl">.تحقق من فواتير الكهرباء الخاصة بك للحصول على أفضل نظام شمسي يناسب احتياجاتك</p>
          <img src="/rightCheck.png" alt="check" class="max-w-[3%]">
        </div>
  
        <!-- Tip 3 -->
        <div class="flex items-center justify-end gap-6 mt-10">
          <p class="flex-1 text-xl">.راقب إذا كان هناك أشجار او مباني تحجب ضوء الشمس على مساحتك الخاصة</p>
          <img src="/rightCheck.png" alt="check" class="max-w-[3%]">
        </div>
  
        <!-- Tip 4 -->
        <div class="flex items-center justify-end gap-6 mt-10">
          <p class="flex-1 text-xl">اتصل بشركة الكهرباء لمزيد من التفاصيل حول الفواتير الكهربائية و في حال لم تعرف قيمة فواتيرك الخاصة على الرقم  <strong>121</strong> </p>
          <img src="/rightCheck.png" alt="check" class="max-w-[3%]">
        </div>
      </div>
    </div>
  
    <!-- Enter Data Section -->
    <div class="mt-10 mb-2 flex flex-col items-center">
      <div class="flex justify-center items-center gap-8">
        <h3 class="text-4xl font-bold">أدخل بياناتك بعناية</h3>
        <img src="/data.png" alt="data" class="max-w-[12%]">
      </div>
    </div>
    
    
    <!-- Form Container -->
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" class=" border-[3px] m-14 mt-5 border-black p-10">
      <!-- Property Type -->
      <div class="mb-6">
        <h3 class="text-2xl text-right font-bold mb-6">نوع العقار</h3>
        <div class="flex justify-between gap-5">
        <div class="flex items-center gap-2">
          <label for="commercial" class="text-l font-bold">نشاط تجاري</label>
          <input type="radio" id="commercial" formControlName="propertyType" [value]="1" class="w-6 h-6 border-2 border-black">
        </div>
        <div class="flex items-center gap-2">
          <label for="residential" class="text-l font-bold">وحدة سكنية</label>
          <input type="radio" id="residential" formControlName="propertyType" [value]="2" class="w-6 h-6 border-2 border-black">
          <span class="absolute bg-slate-800 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          </span>
        </div>
        <div class="flex items-center gap-2">
          <label for="government" class="text-l font-bold">مؤسسة حكومية</label>
          <input type="radio" id="government" formControlName="propertyType" [value]="3" class="w-6 h-6 border-2 border-black">
        </div>
      </div>
      <div *ngIf="propertyForm.get('propertyType')?.invalid && propertyForm.get('propertyType')?.touched" class="text-red-600 text-sm">
      يرجى اختيار نوع العقار.
    </div>
    </div>
    
    <!-- Roof Area -->
    <div class="mb-6">
      <h3 class="text-2xl text-right font-bold mb-3 pt-4">مساحة السطح لأستقبال المحطة الشمسية</h3>
      <input 
      type="number" 
      formControlName="roofArea"
      placeholder="المساحة بالمتر المربع" 
      class="w-full h-15 border-2 border-black rounded p-2 text-right" 
      >
      <div *ngIf="propertyForm.get('roofArea')?.invalid && propertyForm.get('roofArea')?.touched" class="text-red-600 text-sm">
      <div *ngIf="propertyForm.get('roofArea')?.errors?.['required']">هذا الحقل مطلوب.</div>
      <div *ngIf="propertyForm.get('roofArea')?.errors?.['pattern']">يرجى إدخال رقم صحيح.</div>
      <div *ngIf="propertyForm.get('roofArea')?.errors?.['min']">يجب أن تكون أكبر من 0.</div>
    </div>
    </div>

    
    <!-- Address -->
    <div class="mb-6">
      <h3 class="text-2xl text-right font-bold mb-3 pt-4">العنوان</h3>
      <input 
      type="text" 
      formControlName="address"
      placeholder="أدخل عنوان العقار" 
        class="w-full h-15 border-2 border-black rounded p-2 text-right" 
        >

      <div *ngIf="propertyForm.get('address')?.invalid && propertyForm.get('address')?.touched" class="text-red-600 text-sm">
        <div *ngIf="propertyForm.get('address')?.errors?.['required']">هذا الحقل مطلوب.</div>
        <div *ngIf="propertyForm.get('address')?.errors?.['minlength']">العنوان قصير جداً.</div>
      </div>
    </div>
    
    <!-- Electricity Consumption -->
    <div class="mb-6">
      <h3 class="text-2xl text-right font-bold mb-3 pt-4">استهلاك الكهرباء (مبلغ الفواتير الشهرية)</h3>
      
      <!-- Summer Bills -->
      <div class="mb-4" formGroupName="summerBills">
        <p class="text-xl text-right font-bold mb-4 pb-4">قيمة 3 فواتير في فصل الصيف</p>
        <div class="grid grid-cols-3 gap-10">
          <div>
            <p class="text-l font-bold mt-1 text-center pb-2">الشهر الثالث</p>
            <input 
            type="number" 
            formControlName="month3"
            placeholder="1500 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
            <div class="text-red-600 text-right text-sm pt-2" *ngIf="propertyForm.get('summerBills.month3')?.touched && propertyForm.get('summerBills.month3')?.invalid">
            <div *ngIf="propertyForm.get('summerBills.month3')?.errors?.['required']">هذا الحقل مطلوب</div>
            <div *ngIf="propertyForm.get('summerBills.month3')?.errors?.['pattern']">يجب أن يكون رقمًا صالحًا</div>
            </div>
          </div>
          <div>
            <p class="text-l font-bold mt-1 text-center pb-2">الشهر الثاني</p>
            <input 
            type="number" 
            formControlName="month2"
            placeholder="2000 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
            <div class="text-red-600 text-right text-sm pt-2" *ngIf="propertyForm.get('summerBills.month2')?.touched && propertyForm.get('summerBills.month2')?.invalid">
            <div *ngIf="propertyForm.get('summerBills.month2')?.errors?.['required']">هذا الحقل مطلوب</div>
            <div *ngIf="propertyForm.get('summerBills.month2')?.errors?.['pattern']">يجب أن يكون رقمًا صالحًا</div>
            </div>
          </div>
          <div>
            <p class="text-l font-bold mt-1 text-center pb-2">الشهر الأول</p>
            <input 
            type="number" 
            formControlName="month1"
            placeholder="1350 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
            <div class="text-red-600 text-right text-sm pt-2" *ngIf="propertyForm.get('summerBills.month1')?.touched && propertyForm.get('summerBills.month1')?.invalid">
            <div *ngIf="propertyForm.get('summerBills.month1')?.errors?.['required']">هذا الحقل مطلوب</div>
            <div *ngIf="propertyForm.get('summerBills.month1')?.errors?.['pattern']">يجب أن يكون رقمًا صالحًا</div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Winter Bills -->
      <div formGroupName="winterBills">
        <p class="text-xl text-right font-bold mb-4 pb-4 pt-4">قيمة 3 فواتير في فصل الشتاء</p>
        <div class="grid grid-cols-3 gap-10">
          <div>
            <p class="text-l font-bold mt-1 text-center pb-2">الشهر الثالث</p>
            <input 
            type="number" 
            formControlName="month3"
            placeholder="1100 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
            <div class="text-red-600 text-right text-sm pt-2" *ngIf="propertyForm.get('winterBills.month3')?.touched && propertyForm.get('winterBills.month3')?.invalid">
            <div *ngIf="propertyForm.get('winterBills.month3')?.errors?.['required']">هذا الحقل مطلوب</div>
            <div *ngIf="propertyForm.get('winterBills.month3')?.errors?.['pattern']">يجب أن يكون رقمًا صالحًا</div>
            </div>
          </div>
          <div>
            <p class="text-l font-bold mt-1 text-center pb-2">الشهر الثاني</p>
            <input 
              type="number" 
              formControlName="month2"
              placeholder="700 جنيه" 
              class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
            <div class="text-red-600 text-right text-sm pt-2" *ngIf="propertyForm.get('winterBills.month2')?.touched && propertyForm.get('winterBills.month2')?.invalid">
            <div *ngIf="propertyForm.get('winterBills.month2')?.errors?.['required']">هذا الحقل مطلوب</div>
            <div *ngIf="propertyForm.get('winterBills.month2')?.errors?.['pattern']">يجب أن يكون رقمًا صالحًا</div>
            </div>
          </div>
          <div>
            <p class="text-l font-bold mt-1 text-center pb-2">الشهر الأول</p>
            <input 
              type="number" 
              formControlName="month1"
              placeholder="850 جنيه" 
              class="w-full h-15 border-2 border-black rounded p-2 text-right" 
              >
            <div class="text-red-600 text-right text-sm pt-2" *ngIf="propertyForm.get('winterBills.month1')?.touched && propertyForm.get('winterBills.month1')?.invalid">
            <div *ngIf="propertyForm.get('winterBills.month1')?.errors?.['required']">هذا الحقل مطلوب</div>
            <div *ngIf="propertyForm.get('winterBills.month1')?.errors?.['pattern']">يجب أن يكون رقمًا صالحًا</div>
            </div>
            </div>
        </div>
      </div>
    </div>
    
    <!-- Additional Questions -->
    <div class="mb-6">
      <h4 class="text-2xl text-right font-bold mb-3 pt-4">أجب على الأسئلة التالية</h4>
      
      <!-- Trees Question -->
      <div class="mb-4">
        <p class="text-xl text-right font-bold mb-4 pb-4">هل توجد أشجار قريبة من مساحة السطح؟</p>
        <div class="flex justify-around gap-8">
          <div class="flex items-center gap-2">
            <label for="trees-no" class="text-l font-bold">لا</label>
            <input type="radio" id="trees-no" formControlName="treesNearby" value="no" class="w-6 h-6 border-2 border-black">
          </div>
          <div class="flex items-center gap-2">
            <label for="trees-yes" class="text-l font-bold">نعم</label>
            <input type="radio" id="trees-yes" formControlName="treesNearby" value="yes" class="w-6 h-6 border-2 border-black">
          </div>
        </div>
      </div>
      
      <!-- Buildings Question -->
      <div>
        <p class="text-xl text-right font-bold mb-4 pb-4">هل توجد مبان عالية قريبة من مساحة السطح؟</p>
        <div class="flex justify-around gap-8">
          <div class="flex items-center gap-2">
            <label for="buildings-no" class="text-l font-bold">لا</label>
            <input type="radio" id="buildings-no" formControlName="buildingsNearby" value="no" class="w-6 h-6 border-2 border-black">
          </div>
          <div class="flex items-center gap-2">
            <label for="buildings-yes" class="text-l font-bold">نعم</label>
            <input type="radio" id="buildings-yes" formControlName="buildingsNearby" value="yes" class="w-6 h-6 border-2 border-black">
          </div>
        </div>
      </div>
    </div>
    
    <!-- Submit Button -->
    <div class="flex justify-center">
      <button type="submit" class="text-2xl font-bold bg-[#022333] text-white py-5 px-15 rounded-4xl transition duration-300 ease-in-out hover:bg-[#499DCA] hover:shadow-[0px_0px_20px_#162229] hover:scale-110 flex items-center justify-center">
        تأكيد
      </button>
    </div>
  </form>


  <!-- Rejection Report Section (conditionally shown) -->
  <div *ngIf="showReport && reportType === 'rejection'" id="rejectionReportSection" class="mt-12 mb-8">
    <div class="flex items-center justify-center gap-8 mb-6">
      <h3 class="text-4xl font-bold">التقرير</h3>
      <img src="/report.png" alt="Thank You" class="max-w-[3%]">
    </div>
    
    <div class="border-[3px] m-16 mt-1 border-black">
      <!-- Report Header with Error -->
      <div class="bg-[#022333] text-white p-4 flex items-center justify-center gap-4">
        <div class="bg-red-500 rounded-full p-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <h4 class="text-2xl font-bold text-right">نأسف لعدم مطابقة بيانات العقار لمتطلبات إنشاء المحطة الشمسية</h4>
      </div>
      
      <!-- Report Content -->
      <div class="p-6 text-right text-2xl font-bold">
        <p class="mb-4 font-bold">،عزيزنا العميل</p>
        
        <p class="mb-4">نود أن نشكرك على اهتمامك بخدماتنا وثقتك بنا. بعد مراجعة البيانات الفنية الخاصة بعقارك، تبين أنه لا يستوفي المتطلبات اللازمة لإنشاء محطة شمسية وفقًا للمعايير الهندسية والفنية المعتمدة</p>
        
        <p class="mb-4">نحن نقدر اهتمامك بالطاقة المتجددة، ونؤكد استعدادنا لمساعدتك في استكشاف بدائل أخرى قد تناسب احتياجاتك. إذا كنت بحاجة إلى 
          <button routerLink="/support" class="px-3 rounded-full bg-[#022333] text-white transition duration-300 ease-in-out hover:bg-[#499DCA] hover:shadow-[0px_0px_20px_#162229] hover:scale-105">استشارة هندسية</button>
          حول إمكانية تعديل العقار لجعله مؤهلا، يسعدنا تقديم الدعم اللازم
        </p>
        
        <p class="mb-4">نعتذر عن أي إزعاج قد يسببه هذا الأمر، ونتطلع إلى مساعدتك بطرق أخرى تلبي تطلعاتك</p>
        
        <p class="mb-4">لمزيد من التفاصيل، يمكنك التواصل معنا من هنا 
          <button class="px-5 rounded-full bg-[#022333] text-white transition duration-300 ease-in-out hover:bg-[#499DCA] hover:shadow-[0px_0px_20px_#162229] hover:scale-105"><a (click)="scrollToFooter()">تواصل معنا</a></button>
          من فضلك
        </p>
        
        <p>شكرا لتفهمك وثقتك بنا</p>
      </div>
    </div>
  </div>


  <!-- Warning Report Section (conditionally shown) -->
  <div *ngIf="showReport && reportType === 'warning'" id="warningReportSection" class="mt-12 mb-8">
    <div class="flex items-center justify-center gap-8 mb-6">
      <h3 class="text-4xl font-bold">التقرير</h3>
      <img src="/report.png" alt="Thank You" class="max-w-[3%]">
    </div>
    
    <div class="border-[3px] m-16 mt-1 border-black">
      <!-- Report Header with Warning -->
      <div class="bg-[#022333] text-white p-4 flex items-center justify-center gap-4">
        <img src="/warning.png" alt="warning" class="max-w-[3%]">
        <h4 class="text-2xl font-bold text-right">بحاجة إلى مراجعة فنية إضافية قبل تأكيد إمكانية إنشاء المحطة الشمسية</h4>
      </div>
      
      <!-- Report Content -->
      <div class="p-6 text-right text-2xl font-bold">
        <p class="mb-4 font-bold">،عزيزنا العميل</p>
        
        <p class="mb-4">
          نشكر لك اهتمامك بخدماتنا ورغبتك في التحول إلى الطاقة الشمسية<br>
          بعد مراجعة البيانات الأولية الخاصة بعقارك، يبدو أنه قد يستوفي المتطلبات اللازمة لإنشاء محطة شمسية، ولكننا بحاجة إلى إجراء مراجعة فنية أكثر تفصيلًا للتأكد من إمكانية التنفيذ بأفضل شكل ممكن
        </p>
        
        <p class="mb-4">
          لذلك، نوصي بالتواصل مع فريق 
          <button routerLink="/support" class="px-3 rounded-full bg-[#022333] text-white transition duration-300 ease-in-out hover:bg-[#499DCA] hover:shadow-[0px_0px_20px_#162229] hover:scale-105">الدعم</button>
          الفني لدينا، حيث سيقوم مهندسونا المتخصصون بمراجعة جميع التفاصيل والإجابة على استفساراتك لضمان تحقيق أفضل الحلول لمتطلباتك
        </p>
        
        
        <p class="mb-4">يرجى التواصل معنا لحجز موعد أو للحصول على استشارة فنية مباشرة مع أفضل المهندسين المختصين واحجز 
          <button routerLink="/support" class="px-3 rounded-full bg-[#022333] text-white transition duration-300 ease-in-out hover:bg-[#499DCA] hover:shadow-[0px_0px_20px_#162229] hover:scale-105">استشارة هندسية</button>
          من هنا
        </p>
        
        <p class="mb-10">نحن هنا لدعمك، ونتطلع إلى مساعدتك في تحقيق مشروعك بنجاح</p>
      </div>
    </div>
  </div>



   <!-- Approval Report Section (conditionally shown) -->
   <div *ngIf="showReport && reportType === 'approval'" id="approvalReportSection" class="mt-12 mb-8">
    <div class="flex items-center justify-center gap-8 mb-6">
      <h3 class="text-4xl font-bold">التقرير</h3>
      <img src="/report.png" alt="Thank You" class="max-w-[3%]">
    </div>
    
    <div class="border-[3px] m-16 mt-1 border-black">
      <!-- Report Header with Warning -->
      <div class="bg-[#022333] text-white p-4 flex items-center justify-center gap-4">
        <img src="/approval.png" alt="approval" class="max-w-[3%]">
        <h4 class="text-2xl font-bold text-right">عزيزي العميل، تهانينا! عقارك مؤهل لإنشاء محطة طاقة شمسية</h4>
      </div>
      
      <!-- Report Content -->
      <div class="p-6 text-right text-2xl font-bold">
        <p class="mb-4 font-bold">،عزيزنا العميل</p>
        
        <p class="mb-4">
          نشكر لك اهتمامك بالتحول إلى الطاقة الشمسية
        </p>
        
        <p class="mb-4">
          ويسعدنا إبلاغك بأن عقارك يستوفي جميع المتطلبات الفنية والهندسية <br>
          لإنشاء محطة طاقة شمسية
        </p>
        
        
        <p class="mb-12">
          حرصًا منا على تلبية احتياجاتك بأفضل شكل ممكن، نقدم لك مجموعة من الحزم المتكاملة <br>
          التي تناسب استهلاكك للطاقة وكذلك مساحة السطح لديك، مع تفاصيل كل حزمة
        </p>
        
        <button class="px-3 py-3 mr-8 rounded-full bg-[#022333] text-white">الحزم المقترحة لك</button>

        <app-packages-list *ngIf="reportType === 'approval'" [packages]="recommended_packages"></app-packages-list>

      </div>
    </div>
  </div>


  <!-- Thank You Message -->
  <div class="mt-12 flex items-center justify-center gap-5">
    <h3 class="text-3xl font-bold"> Eco Power Hub شكرًا ليك على اختيارك</h3>
    <img src="/smile.png" alt="Thank You" class="max-w-[4%]">
  </div>
</div>


<app-footer></app-footer>