<app-header></app-header>

<!-- solar-property.component.html -->

<!-- Hero Section with Image and Text Overlay -->
<div class="part1 min-h-[600px] w-full flex flex-col items-center p-0 md:p-10 relative rtl bg-cover bg-center bg-fixed bg-no-repeat overflow-hidden bg-white">
    <img 
      src="/homeTwo.png" 
      alt="Solar panels on building roof" 
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="bg-gray-950/60 text-white py-5 px-20 -mt-85 rounded-4xl backdrop-blur-none shadow-2xl">
        <h1 class="text-[40px] font-bold text-right">!اختار محطتك الشمسية وأنت متطمن</h1>
      </div>
    </div>
  </div>
  
  <!-- Tips Section -->
  <div class="px-9 text-center bg-white pb-28">
    <div class="flex items-center justify-center gap-2 mb-6">
      <h3 class="text-6xl font-bold">! نصائح ليك قبل إدخال بياناتك</h3>
      <img src="/lamp.png" alt="lamp" class="max-w-[15%]">
    </div>
  
    <!-- Checklist Items -->
    <div class="bg-[#022333] text-white p-6 ">
      <div class="space-y-4 text-right">
        <!-- Tip 1 -->
        <div class="flex items-center justify-end gap-6 mt-12">
          <p class="flex-1 text-3xl">.تعرف على نوع الممتلكات الخاصة بك وقدر المساحة المتاحة على السطح لتركيب المحطة الشمسية</p>
          <img src="/rightCheck.png" alt="check" class="max-w-[5%]">
        </div>
  
        <!-- Tip 2 -->
        <div class="flex items-center justify-end gap-6 mt-12">
          <p class="flex-1 text-3xl">.تحقق من فواتير الكهرباء الخاصة بك للحصول على أفضل نظام شمسي يناسب احتياجاتك</p>
          <img src="/rightCheck.png" alt="check" class="max-w-[5%]">
        </div>
  
        <!-- Tip 3 -->
        <div class="flex items-center justify-end gap-6 mt-12">
          <p class="flex-1 text-3xl">.راقب إذا كان هناك أشجار او مباني تحجب ضوء الشمس على مساحتك الخاصة</p>
          <img src="/rightCheck.png" alt="check" class="max-w-[5%]">
        </div>
  
        <!-- Tip 4 -->
        <div class="flex items-center justify-end gap-6 mt-12">
          <p class="flex-1 text-3xl">اتصل بشركة الكهرباء لمزيد من التفاصيل حول الفواتير الكهربائية و في حال لم تعرف قيمة فواتيرك الخاصة على الرقم  <strong>121</strong> </p>
          <img src="/rightCheck.png" alt="check" class="max-w-[5%]">
        </div>
      </div>
    </div>
  
    <!-- Enter Data Section -->
    <div class="mt-8 mb-4 flex flex-col items-center">
      <div class="flex items-center gap-12">
        <h3 class="text-6xl font-bold">أدخل بياناتك بعناية</h3>
        <img src="/data.png" alt="data" class="max-w-[15%]">
      </div>
    </div>
    
    
    <!-- Form Container -->
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" class=" border-[3px] m-16 border-black p-12">
      <!-- Property Type -->
      <div class="mb-6">
        <h3 class="text-[42px] text-right font-bold mb-6">نوع العقار</h3>
        <div class="flex justify-between gap-8">
        <div class="flex items-center gap-2">
          <label for="commercial" class="text-2xl font-bold">نشاط تجاري</label>
          <input type="radio" id="commercial" formControlName="propertyType" value="commercial" class="w-6 h-6 border-2 border-black">
        </div>
        <div class="flex items-center gap-2">
          <label for="residential" class="text-2xl font-bold">وحدة سكنية</label>
          <input type="radio" id="residential" formControlName="propertyType" value="residential" class="w-6 h-6 border-2 border-black">
          <span class="absolute bg-slate-800 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          </span>
        </div>
        <div class="flex items-center gap-2">
          <label for="government" class="text-2xl font-bold">مؤسسة حكومية</label>
          <input type="radio" id="government" formControlName="propertyType" value="government" class="w-6 h-6 border-2 border-black">
        </div>
      </div>
    </div>
    
    <!-- Roof Area -->
    <div class="mb-6">
      <h3 class="text-[42px] text-right font-bold mb-3 pt-4">مساحة السطح لأستقبال المحطة الشمسية</h3>
      <input 
      type="text" 
      formControlName="roofArea"
      placeholder="المساحة بالمتر المربع" 
      class="w-full h-15 border-2 border-black rounded p-2 text-right" 
      >
    </div>
    
    <!-- Address -->
    <div class="mb-6">
      <h3 class="text-[42px] text-right font-bold mb-3 pt-4">العنوان</h3>
      <input 
      type="text" 
      formControlName="address"
      placeholder="أدخل عنوان العقار" 
        class="w-full h-15 border-2 border-black rounded p-2 text-right" 
        >
      </div>
    
    <!-- Electricity Consumption -->
    <div class="mb-6">
      <h3 class="text-[42px] text-right font-bold mb-3 pt-4">استهلاك الكهرباء (مبلغ الفواتير الشهرية)</h3>
      
      <!-- Summer Bills -->
      <div class="mb-4" formGroupName="summerBills">
        <p class="text-3xl text-right font-bold mb-4 pb-4">قيمة 3 فواتير في فصل الصيف</p>
        <div class="grid grid-cols-3 gap-10">
          <div>
            <p class="text-2xl font-bold mt-1 text-center pb-2">الشهر الثالث</p>
            <input 
            type="text" 
            formControlName="month3"
            placeholder="1500 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
          </div>
          <div>
            <p class="text-2xl font-bold mt-1 text-center pb-2">الشهر الثاني</p>
            <input 
            type="text" 
            formControlName="month2"
            placeholder="2000 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
          </div>
          <div>
            <p class="text-2xl font-bold mt-1 text-center pb-2">الشهر الأول</p>
            <input 
            type="text" 
            formControlName="month1"
            placeholder="1350 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
          </div>
        </div>
      </div>
      
      <!-- Winter Bills -->
      <div formGroupName="winterBills">
        <p class="text-3xl text-right font-bold mb-4 pb-4 pt-4">قيمة 3 فواتير في فصل الشتاء</p>
        <div class="grid grid-cols-3 gap-10">
          <div>
            <p class="text-2xl font-bold mt-1 text-center pb-2">الشهر الثالث</p>
            <input 
            type="text" 
            formControlName="month3"
            placeholder="1100 جنيه" 
            class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
          </div>
          <div>
            <p class="text-2xl font-bold mt-1 text-center pb-2">الشهر الثاني</p>
            <input 
              type="text" 
              formControlName="month2"
              placeholder="700 جنيه" 
              class="w-full h-15 border-2 border-black rounded p-2 text-right" 
            >
          </div>
          <div>
            <p class="text-2xl font-bold mt-1 text-center pb-2">الشهر الأول</p>
            <input 
              type="text" 
              formControlName="month1"
              placeholder="850 جنيه" 
              class="w-full h-15 border-2 border-black rounded p-2 text-right" 
              >
            </div>
        </div>
      </div>
    </div>
    
    <!-- Additional Questions -->
    <div class="mb-6">
      <h4 class="text-[42px] text-right font-bold mb-3 pt-4">أجب على الأسئلة التالية</h4>
      
      <!-- Trees Question -->
      <div class="mb-4">
        <p class="text-3xl text-right font-bold mb-4 pb-4">هل توجد أشجار قريبة من مساحة السطح؟</p>
        <div class="flex justify-around gap-8">
          <div class="flex items-center gap-2">
            <label for="trees-no" class="text-3xl font-bold">لا</label>
            <input type="radio" id="trees-no" formControlName="treesNearby" value="no" class="w-6 h-6 border-2 border-black">
          </div>
          <div class="flex items-center gap-2">
            <label for="trees-yes" class="text-3xl font-bold">نعم</label>
            <input type="radio" id="trees-yes" formControlName="treesNearby" value="yes" class="w-6 h-6 border-2 border-black">
          </div>
        </div>
      </div>
      
      <!-- Buildings Question -->
      <div>
        <p class="text-3xl text-right font-bold mb-4 pb-4">هل توجد مبان عالية قريبة من مساحة السطح؟</p>
        <div class="flex justify-around gap-8">
          <div class="flex items-center gap-2">
            <label for="buildings-no" class="text-3xl font-bold">لا</label>
            <input type="radio" id="buildings-no" formControlName="buildingsNearby" value="no" class="w-6 h-6 border-2 border-black">
          </div>
          <div class="flex items-center gap-2">
            <label for="buildings-yes" class="text-3xl font-bold">نعم</label>
            <input type="radio" id="buildings-yes" formControlName="buildingsNearby" value="yes" class="w-6 h-6 border-2 border-black">
          </div>
        </div>
      </div>
    </div>
    
    <!-- Submit Button -->
    <div class="flex justify-center">
      <button type="submit" class="text-4xl font-bold bg-[#022333] text-white py-5 px-20 rounded-4xl hover:bg-[#499DCA]">
        تأكيد
      </button>
    </div>
  </form>
  
  <!-- Thank You Message -->
  <div class="mt-12 flex items-center justify-center gap-12">
    <h3 class="text-6xl font-bold"> Eco Power Hub شكرًا ليك على اختيارك</h3>
    <img src="/smile.png" alt="Thank You" class="max-w-[7%]">
  </div>
</div>


<app-footer></app-footer>