<!-- Modal لعرض الرسائل -->
<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-icon shake">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#051C2F" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
      </svg>
    </div>
    <p>{{ modalMessage }}</p>
    <button class="modal-btn" (click)="closeModal()">حسنًا</button>
  </div>
</div>

<div class="product-card">
  <h3>{{ product.name }}</h3>

  <div class="img-container">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
  </div>

  <p class="reviews">
    <span class="stars">★ ★ ★ ★ ★</span>
    <span>({{ product.reviews }}) مراجعات الشركة المصنعة</span>
  </p>

  @if (product.model && product.model !== 'string') {
    <p>الموديل: <span class="text">{{ product.model }}</span></p>
  }

  @if (product.efficiency && product.efficiency !== 'string') {
    <p>الكفاءة: <span class="text">{{ product.efficiency }}</span></p>
  }

  @if (product.estimatedPower && product.estimatedPower !== 'string') {
    <p>الطاقة المقدرة: <span class="text">{{ product.estimatedPower }}</span></p>
  }

  <p>السعر: <span class="text">{{ product.price }} ج.م</span></p>

  <div class="button-container">
  <button class="btn" (click)="addToCart()">إضافة إلى السلة</button>
</div>

</div>