<div class="product-card">
  <h3>{{ product.name }}</h3>

  <div class="img-container">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
  </div>

  <p class="reviews">
    <span class="stars">★ ★ ★ ★ ★</span>
    <span>({{ product.reviews }}) مراجعات الشركة المصنعة</span>
  </p>

  @if (product.model && product.model !== 'string') {
    <p>الموديل: <span class="text">{{ product.model }}</span></p>
  }

  @if (product.efficiency && product.efficiency !== 'string') {
    <p>الكفاءة: <span class="text">{{ product.efficiency }}</span></p>
  }

  @if (product.estimatedPower && product.estimatedPower !== 'string') {
    <p>الطاقة المقدرة: <span class="text">{{ product.estimatedPower }}</span></p>
  }

  <p>السعر: <span class="text">{{ product.price }} ج.م</span></p>

  <div class="button-container">
  <button class="btn" (click)="addToCart()">إضافة إلى السلة</button>
</div>

</div>