<div class="product-card">
  <h3>{{ product.name }}</h3>

  <div class="img-container">
    <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" />
  </div>

  <p class="reviews">
    <span class="stars">★  ★  ★  ★  ★ </span>
    <span>({{ product.reviews }}) مراجعات الشركة المصنعة</span>
  </p>

  <p>الرقم التسلسلي: <span class="text">{{ product.seriesNumber }}</span></p>
  <!-- <p>الموديل: <span class="text">{{ product.model }} وات</span></p>
  <p>الكفاءة: <span class="text">%{{ product.efficiency }}</span></p>
  <p>الطاقة المقدرة: <span class="text">{{ product.power }} وات</span></p>
  <p>السعر: <span class="text">{{ product.price }} ج.م</span></p> -->

  <div class="button-container">
    <button class="btn">تحديد</button>
  </div>
</div>

