<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<app-header></app-header>
<section class=" p-2 flex justify-between items-center">
  <div class="ml-4  mt-4">
    <span class="txt bg-[#001F2D] text-[35px] text-white font-bold px-3 ">Eco Power Hub</span>
    <div class="w-40 border-t-4  bg-[#001F2D] my-4"></div>

  </div>
  <div>
  <div class="flex items-center gap-2 mr-4 ">
    <span class="mt-5 mr-4 cursor-pointer">
      <img src="assets/products.png" alt="" class="w-15 h-15 pb-1" />
    </span>
    <span class="txt font-bold text-black  tracking-tight  text-[40px] px-3">المنتجات</span>


  </div>
  <div class="w-35 border-t-4  bg-[#001F2D]  ml-25 mt-[1px]"></div>

</div>
</section>
  <!-- محتوى القسم -->
  <div class="product-display-container">
    <div class="product-showcase">
        <div class="product-box">
            <!-- <h3>Eco PowerHub</h3> -->
      
            <div class="product-images">
            <img src="assets/Pasted image.png" alt="Eco PowerHub Product 2">
            <img src="assets/Pasted image (2).png" alt="Eco PowerHub Product 1">
        </div>
    </div>
</div>

<app-categories-carousel></app-categories-carousel>

<div class="products-title">
  <span class="title">{{ selectedCategoryName }}</span>
</div>


<div class="products-container">
  @for (product of products; track product) {
    <app-product-card [product]="product"></app-product-card>
  }
</div>


<app-footer></app-footer>