<nav class="bg-[#051C2F] text-white px-6 py-4 flex justify-between items-center relative">
  <!-- رابط الصفحة الرئيسية -->
  <a href="/" class="text-xl font-semibold whitespace-nowrap cursor-pointer transition-colors duration-300 ease-in-out hover:text-[#499DCA]">
    الصفحة الرئيسية
  </a>
  
  <!-- العنوان في المنتصف -->
  <span class="absolute inset-x-0 text-right p-2 text-lg md:text-2xl font-semibold   sm:text-center">
    إعادة تعيين كلمة المرور

  </span>
</nav>

<div class="{{ containerClasses }}" class="container">
  <div class="{{ cardClasses }}">
    <form [formGroup]="resetForm" (ngSubmit)=" resetPass()">
      <div class="mb-4">
        <img src="/16191.jpg" alt="Reset Password" class="w-50 h-40 sm:w-55 sm:h-50 mb-3 mt-[-22px] rounded-lg ml-16" />
        <label for="new-password" class="{{ labelClasses }} text-xl">كلمة مرور جديدة</label>
        <input type="password" id="new-password" formControlName="newPassword" class="{{ inputClasses }}" placeholder="@#*%" />
      </div>

      <div class="mb-4">
        <label for="confirm-password" class="{{ labelClasses }} text-xl">تأكيد كلمة المرور</label>
        <input type="password" id="confirm-password" formControlName="confirmNewPassword" class="{{ inputClasses }}" placeholder="@#*%" />
      </div>

      <button 
        type="submit" 
        [disabled]="resetForm.invalid" 
        class="btn bg-[#051C2F] text-white w-[290px] sm:w-[320px] cursor-pointer font-bold text-xl rounded-xl p-2 mt-3 hover:bg-[#03203C] transition duration-200">
        تأكيد البريد الإلكتروني
      </button>
    </form>
  </div>
</div>
