.custom-link {
  text-decoration: none  !important;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out  !important;
  display: inline-block  !important;
}

.custom-link:hover{
  color: #499DCA !important ;
  transform: scale(1.05)  !important;
  outline: none  !important;
}

  .container{
    margin-top: -40px;
  }
 body{
  font-family: "Cairo", serif;
  background-color: white;
  overflow: hidden;
 }
 .btn:hover{
  background-color: #499DCA;
   transform: scale(1.05); 
}

.btn:focus{
   outline: none;
   box-shadow: 0 0 5px #499DCA;
}