<nav class="bg-[#051C2F] text-white px-6 py-4 flex justify-between items-center relative">
  <!-- رابط الصفحة الرئيسية -->
  <a href="/" class="text-lg font-semibold whitespace-nowrap cursor-pointer transition-colors duration-300 ease-in-out hover:text-[#499DCA]">
    الصفحة الرئيسية
  </a>
  
  <!-- العنوان في المنتصف -->
  <span class="absolute inset-x-0 text-center text-lg md:text-xl font-semibold  hidden sm:block">
    Welcome to Eco PowerHub

  </span>
</nav>



<div class="{{ containerClasses }}"  class="container" >
    <div class="{{ cardClasses }}" >
      
      <form (ngSubmit)="submitForm()" >
        <div class="mb-4">
          <label for="new-password" class="{{ labelClasses }}">كلمة مرور جديدة</label>
          <input type="password" id="new-password" class="{{ inputClasses }}" placeholder="@#*%" required />
        </div>
        <div class="mb-4">
          <label for="confirm-password" class="{{ labelClasses }}">تأكيد كلمة المرور</label>
          <input type="password" id="confirm-password" class="{{ inputClasses }}" placeholder="@#*%" required />
        </div>
        <button type="submit" class="{{ buttonClasses }}" class="btn">تأكيد</button>
      </form>
    </div>
  </div>
