<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>
<body>

  <footer  #footerSection lang="ar" dir="rtl" class="bg-[#022333] py-10 items-center font-cairo">
    <div data-aos="fade-up" class="container mx-auto grid md:grid-cols-3 gap-8 flex-wrap items-center justify-between mr-20 w-[90%] rtl">
          <!-- عن الشركة -->
          <div  class="hadr mt-11 mr-24">
            <h2 class="text-3xl font-bold font-Sora text-white">ECO POWERHUB</h2>
            <p class="pra">التكنولوجيا المتجددة</p>
            <p class="text-gray-400 mt-10 w-[95%] ">تعنى التاّزر الاستثنائى للطاقة الشمسية مع تخزين الطاقة،  والمركبات الكهربائية،والشبكات الذكية.ان الصناعة تعمل فى طليعة تكنولوجيا الانظمة لتحقيق ذلك.</p>
            <div lang="ar" dir="rtl" class="flex mt-9 text-white w-80">
              <a href="#" class="hover:text-blue-400 ml-6"> Facebook <i class="fab fa-facebook"></i></a>
              <a href="#" class="hover:text-blue-400  ml-6"> Twitter <i class="fab fa-twitter"></i></a>
              <a href="#" class="hover:text-blue-400  ml-6"> LinkedIn <i class="fab fa-linkedin"></i></a>
            </div>
          </div>
     
      
      <!-- معلومات الاتصال -->
      <div class="mt-11 mr-24">
        <h3 class="text-3xl font-bold mb-14 text-white font-cairo">
          <span class="border-b-4 border-[#499DCA] pb-1">معلومات</span> الاتصال
      </h3>
        <div class=" space-y-8 text-white mt-11">
          <a href="#" class="flex items-center gap-4 text-lg font-semibold hover:text-[#499DCA]">
            <div class="flex items-center justify-center w-8 h-8 -mr-1 rounded-full border-2 border-[#499DCA] bg-[#499DCA] shrink-0">
              <i class="fa-solid fa-mobile-screen-button text-white w-1 ml-2 "></i>
            </div>
            245217562-25146268
          </a>
      <a href="#" class="flex items-center gap-4 text-lg font-semibold hover:text-[#499DCA]">
            <div class="flex items-center justify-center w-8 h-8 -mr-1 rounded-full border-2 border-[#499DCA] bg-[#499DCA] shrink-0">
              <i class="fa-solid fa-envelope text-white w-1 ml-3"></i>
            </div>
            ecopowerhub18&#64;gmail.com
          </a>        
          <a href="#" class="flex items-center gap-4 text-lg font-semibold hover:text-[#499DCA]">
            <div class="flex items-center justify-center w-8 h-8 -mr-1 rounded-full border-2 border-[#499DCA] bg-[#499DCA] shrink-0">
              <i class="fa-solid fa-location-dot text-white w-1 ml-2"></i>
            </div>
            قنا - مصر        </a>       </div>
      </div>
       <!-- لينكات مفيدة -->
       <div class="footer-section mt-11 mr-20">
        <h3 class="text-3xl font-bold mb-28 text-white font-cairo">
          <span class="border-b-4 border-[#499DCA] pb-1">لينكات</span> مفيدة
        </h3>
        <div class="flex space-x-10  text-black -mt-8 gap-12 ">
          <div>
            <ul class=" font-cairo  text-white">
              <li class="relative">
                <a href="#" class=" inline-block relative pr-6">
                  الصفحة الرئيسية
                </a>
              </li>
              <li class="relative">
                <a href="#" class=" inline-block relative pr-6">
                  المنتجات
                </a>
              </li>
              <li class="relative">
                <a href="/login" class=" inline-block relative pr-6">
                  تسجيل الدخول
                </a>
              </li>
              <li class="relative">
                <a href="/signup" class=" inline-block relative pr-6">
                  إنشاء حساب
                </a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="font-cairo text-white">
              <li class="relative">
                <a href="#" class="inline-block relative pr-6">
                  اتصل بنا
                </a>
              </li>
              <li class="relative">
                <a href="#" class=" inline-block relative pr-6">
                  الدعم
                </a>
              </li>
              <li class="relative">
                <a href="/aboutus" class=" inline-block relative pr-6">
                  من نحن
                </a>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
      
  
    </div>
  
  
  <div class="flex flex-wrap items-center justify-between bg-[#499DCA] rounded-[25px] mt-10 p-4 w-[80%] mx-11 sm:mx-36 rtl">
  
    <i class="text-[35px] text-[#fafafc] sm:mr-11 mr-8  fas fa-envelope"></i>
  
  
    <p class="text-[20px] sm:text-[28px] ml-8 font-cairo text-white relative sm:-mr-15">
      اشترك في نشرتنا الإخبارية
    </p>
  
  
    <div class="flex flex-col sm:flex-row items-center sm:items-center space-y-3 sm:space-y-0 sm:space-x-3 sm:ml-5 mr-12 mt-4 sm:mt-0 ">
      <input type="text " placeholder="ادخل بريدك الإلكتروني..."
        class="p-2 pr-5 w-[100%] sm:w-[450px] rounded-[25px] bg-white text-slate-700  text-right  sm:ml-2 outline-none font-cairo focus:ring-2 focus:ring-blue-400">
      <button class="w-[100%] sm:w-1/3  p-2 rounded-[25px] bg-[#022333] text-white font-cairo transition duration-300 ease-in-out hover:bg-white hover:text-black hover:shadow-[0px_0px_20px_#162229] hover:scale-110">
        اشتراك
      </button>
    </div>
    
  </div>
  
  
  <div class="footer-end flex flex-col md:flex-row justify-between items-start rtl sm:mr-0 mr-20 mt-10">
    <div class="par1 relative right-0 sm:mr-32 md:right-[150px] mt-5 flex-col flex flex-wrap gap-5">
      <p class="text-right text-[16px] font-sora text-white">
        حقوق الطبع والنشر Eco PowerHub 2025.
      </p>
      <p class="text-right text-[16px] font-sora text-white">
        جميع الحقوق محفوظة                                         
      </p>
    </div>
    
    <ul class="par2 flex flex-col md:flex-row flex-wrap gap-5 mt-5 text-[14px]  sm:ml-28">
      <li><a href="#" class="text-white hover:text-blue-400 font-calibri">سياسة الخصوصية</a></li>
      <li><a href="#" class="text-white hover:text-blue-400 font-calibri">الشروط والأحكام</a></li>
  </ul>
  
  
  </div>
  
  </footer>
</body>
</html>
