<nav class="bg-[#051C2F] text-white px-6 py-4 flex justify-between items-center relative">
    <!-- رابط الصفحة الرئيسية -->
    <a href="/home" class="homelink caret-transparent sm:text-xl text-md font-semibold whitespace-nowrap cursor-pointer transition-colors duration-300 ease-in-out hover:text-[#499DCA]">
      الصفحة الرئيسية
    </a>
    
    <!-- العنوان في المنتصف -->
    <span class="caret-transparent absolute inset-x-0 text-right p-2 text-sm sm:text-xl font-semibold   sm:text-center">
      إعادة تعيين كلمة المرور
  
    </span>
  </nav>

  <div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-icon shake">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#051C2F" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
      </svg>
    </div>
    <p>{{ modalMessage }}</p>
    <button class="modal-btn" (click)="closeModal()">حسنًا</button>
  </div>
</div>
<!-- reset-password.component.html -->
 <body>
  
<!-- Modal لعرض الرسائل -->


<div class="  flex flex-col items-center justify-center p-6">
  <!-- صورة توضيحية -->
  <img src="/16191.jpg" alt="Reset Password" class=" w-60 h-50 sm:w-70 sm:h-65 mb-3 mt-[-10px] rounded-lg">

  <!-- العنوان والوصف -->
  <h1 class="text-xl sm:text-[22px] font-semibold mb-2 mt-[-30px]">نسيت كلمة المرور؟</h1>
  <p class="text-[12px] sm:text-base text-muted-foreground text-center">
    يرجى كتابة بريدك الإلكتروني لتلقي رمز التأكيد لإعادة تعيين كلمة المرور  </p>
</div>

<!-- إدخال البريد الإلكتروني وزر التأكيد -->
<div class="flex flex-col items-center mb-4  justify-center w-full ">
  <input
    type="text"
    [(ngModel)]="email"
    placeholder ="example@gmail.com"
    class="border border-blue-400 rounded-xl p-2.5 w-[290px]  sm:w-[320px] focus:outline-none focus:ring-2 focus:ring-blue-400"
  />

  <button 
    (click)="sendResetemail()" 
    class="btn bg-[#051C2F] text-white w-[290px] sm:w-[320px] flex items-center justify-center
     cursor-pointer font-bold text-lg rounded-xl p-2.5 mt-3 hover:bg-[#03203C] transition duration-200" [disabled]="isLoading">
<span *ngIf="!isLoading">تاكيد البريد الالكترونى</span>
  <div *ngIf="isLoading" class="animate-spin h-5 w-5 border-2 border-t-transparent border-white rounded-full"></div>
  </button>
</div>
</body>