*{
    font-family: 'Cairo', sans-serif;
 
}
body{
  background-color: white;
 height: 100vh;
}
.btn:hover{
   background-color: #499DCA;
    transform: scale(1.05); 
}

.btn:focus{
    outline: none;
    box-shadow: 0 0 5px #499DCA;
}
