<nav class="bg-[#022333] text-white   flex justify-between items-center relative">
  <!-- رابط الصفحة الرئيسية -->
  <a href="/home" class="home-link  font-bold   ">
    الصفحة الرئيسية
</a>
  <!-- العنوان في المنتصف -->
  <span class="welcome mr-4 absolute inset-x-0 p-2 sm:text-center mx-auto text-sm sm:text-xl font-bold text-right">
    <span class="welcome font-bold text-sm sm:text-2xl">Eco Power Hub </span> مرحبًا بكم في 
  </span>
</nav>

<div class="flex items-center justify-center min-h-screen relative  ">
  <img src="your-background-image.jpg" class="absolute inset-0 w-full h-full object-cover blur-md" alt="background">
  
  <div class="relative bg-white dark:bg-card rounded-2xl shadow-2xl p-10 w-[200px] sm:w-[260px] text-center mt-[-80px]">
    <img aria-hidden="true" alt="check-icon" src="/tick-mark.png" class="mx-auto w-24 h-24 sm:w-30 sm:h-30 mb-6" />
    <h2 class="text-md sm:text-[17px] font-semibold text-primary pb-3 ">تم التسجيل بنجاح</h2>
<p class="text-muted-foreground  bg-[#051C2F] rounded-[10px] py-2  transition duration-100 ease-in-out hover:bg-[#499DCA] hover:color-[#051C2F] hover:shadow-[0px_0px_10px_#162229] hover:scale-105   ">
  <a href="/login" class="text-[16px]  sm:text-[18px] text-white  hover:text-[#051C2F] font-bold decoration- ">سجل دخولك الآن</a>
</p>  </div>
</div>