<nav class="bg-[#051C2F] text-white px-6 py-4 flex justify-between items-center relative">
  <!-- رابط الصفحة الرئيسية -->
  <a href="" class=" homeLink text-lg font-semibold">
    الصفحة الرئيسية
  </a>
  
  <!-- العنوان في المنتصف -->
  <span class="welcome absolute inset-x-0 p-2 sm:text-center text-lg sm:text-xl font-semibold text-right">
    <span class="">Eco Power Hub </span> مرحبًا بكم في 
</span>

</nav>

<div class="flex items-center justify-center min-h-screen relative">
  <img src="your-background-image.jpg" class="absolute inset-0 w-full h-full object-cover blur-md" alt="background">
  
  <div class="relative bg-white dark:bg-card rounded-2xl shadow-2xl p-10 w-[220px] text-center mt-[-80px]">
    <img aria-hidden="true" alt="check-icon" src="/check.png" class="mx-auto w-15 h-15 mb-4" />
    <h2 class="text-lg font-semibold text-primary ">تم التسجيل بنجاح</h2>
<p class="text-muted-foreground">
  <a href="/login" class="text-xl font-bold decoration-underline hover:underline">سجل دخولك الآن</a>
</p>  </div>
</div>
